.column{
    width: 200px;
    border: 1px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: 14px;
        font-weight: 600px;
    }

    &__tasks{
        flex-grow: 1;
    }
}